<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="3">
            <h3 class="text-center">
              <%= @club.name %>
              <div>
                Üye Kayıt Formu
              </div>
            </h3>
            <p align="right"><%= DateTime.now.to_date.strftime('%d/%m/%Y') %></p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Adı Soyadı</td>
          <td><%= current_user.profile.full_name %></td>
          <td rowspan="6" align="center"><%= avatar_or_not?(current_user, :class => "img-responsive img-rounded") %></td>
        </tr>
        <tr>
          <td>Öğrenci No</td>
          <td><%= current_user.ubs_no[1..-1] %></td>
        </tr>
        <tr>
          <td>Fakülte / Yüksekokul</td>
          <td><%= current_user.profile.faculty %></td>
        </tr>
        <tr>
          <td>Bölüm</td>
          <td><%= current_user.profile.program %></td>
        </tr>
        <tr>
          <td>Telefon / GSM</td>
          <td><%= current_user.profile.phone %></td>
        </tr>
        <tr>
          <td>E-Posta</td>
          <td><%= current_user.profile.email %></td>
        </tr>
        <tr>
          <td colspan="3" align="right">
            <p style="padding-right: 25px;"><br /> İmza</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% unless current_user.member_wait_for_approval?(@club.id) %>
  <%= simple_form_for(@role = Role.new) do |f| %>
    <%= f.input :role_type_id, :as => :hidden, :input_html => { value: RoleType.member_id }  %>
    <%= f.input :user_id, :as => :hidden, :input_html => { value: current_user.id } %>
    <%= f.input :club_period_id, :as => :hidden, :input_html => { value: @club.active_club_period.id } %>
    <%= f.input :club_id, :as => :hidden, :input_html => { value: @club.id } %>
    <%= f.input :status, :as => :hidden, :input_html => { value: "pasif" } %>
    <%= f.input :membership_start_date, :as => :hidden, :input_html => { value: DateTime.now } %>
    
    <%= f.submit "Topluluğa Katıl", class: "btn btn-success no-print" %>
  <% end %>
<% else %>
  <%= link_to 'Yazdır', '', class: "btn btn-warning no-print", onclick: 'window.print();return false;' %>
<% end %>