<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to 'Anasayfa', root_path %></li>
      <li class="active">Onay Bekleyen Üyeler</li>
    </ol>
      
      <div class="panel-body">
        <table class="table table-hover" id="club_users_index">
          <thead>
            <tr>
              <th>Durum</th>
              <th>Öğrenci No / Ad Soyad</th>
              <th>Açıklama</th>
              <th>Üyelik Başlangıç Tarihi</th>
              <th>Üyelik Bitiş Tarihi</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
            <tr>
              <td><span class='label label-danger'>Pasif</span></td>
              <td><%= role.user.ubs_no %> / <%= link_to role.user.name_surname, role.user.profile %></td>
              <td><%= role.explanation %></td>
              <td><%= role.membership_start_date.strftime('%d/%m/%Y') if role.membership_start_date %></td>
              <td><%= role.membership_end_date.strftime('%d/%m/%Y') if role.membership_end_date %></td>
              <td><%= link_to '<i class="fa fa-pencil" title="Düzenle"></i>'.html_safe, {:controller => "roles", :action => "status_edit", :id => role.id } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </div>
</div>
