<%= simple_form_for(@decision,html: { multipart: true } )do |f| %>
  <% if @decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'errors.error', :count => @decision.errors.count %> </h2>
      <ul>
        <% @decision.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name, label: "Karar No" %>
    <%= f.input :file, as: :file, label: false %>
    <br></br>
  <div class="form-actions">
    <%= f.submit 'Kaydet', class: "btn btn-success" %>
  </div>
<% end %>

