<div class="row">
  <%= render 'home/navbarDefault' %>
</div>
<div class="row">
  <div class="col-md-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Anasayfa', root_path %></li>
    <li class="active">Etkinlikler</li>
  </ol>


    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li  class="tab-links active">
            <a href="#events_calender" data-toggle="tab">Etkinlik Takvimi</a>
          </li>
          <li class="tab-links all-events-link">
            <%= link_to "Tüm Ekinlikler", all_events_events_path, remote: true %>
          </li>
          <% if current_user.present? && (current_user.admin? || current_user.president?(current_user.active_club_periods) || current_user.advisor? || current_user.dean?) %>
            <li class="tab-links pending-events-link">
              <%= link_to "Onay Bekleyen Etkinlikler", pending_events_events_path, remote: true %>
            </li>
          <% end %>
          <% if current_user.present? && (current_user.president? || current_user.advisor?) %>
            <li class="tab-links club-events-link">
              <%= link_to "Topluluk Ekinlikleri", club_events_events_path, remote: true %>
            </li>
          <% end %>
          <% if current_user.present? && current_user.admin? %>
            <li class="tab-links past-events-link">
              <%= link_to "Süresi Geçen Etkinlikler", past_events_events_path, remote: true %>
            </li>
          <% end %>
          <% if current_user.present? && (current_user.president? || current_user.member?) %>
            <li class="tab-links clubs-of-member-events-link">
              <%= link_to "Üye Olunan Toplulukların Etkinlikleri", clubs_of_member_events_events_path, remote: true %>
            </li>
          <% end %>
          <div class="btn-group pull-right">
            <% if current_user.present? && current_user.admin_or_president? %>
              <%= link_to 'Yeni Etkinlik Oluştur', new_event_path, class: "btn btn-default btn-sm" %>
            <% end %>
            <% if user_signed_in? and current_user.admin? %>
              <%= link_to '<i class="fa fa-file-excel-o"></i>'.html_safe, "#", :class => 'btn btn-default btn-sm' , "data-toggle" => "modal", 'data-target' => '.down_event' %>
            <% end %>
          </div>
        </ul>


      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade" id="pending-events-tab">

          </div>
          <div class="tab-pane fade" id="club-events-tab">

          </div>
          <div class="tab-pane fade" id="clubs-of-member-events-tab">
            
          </div>
           <div class="tab-pane fade " id="events-tab">
            
          </div>
          <div class="tab-pane fade " id="past-events-tab">

          </div>
          <div class="tab-pane fade in active" id="events_calender">
            <div class="panel panel-default">
                <%= month_calendar  do |date| %>

                <% end %>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade down_event" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content well">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <%= form_tag(download_events_path(format: "xlsx"), method: "get") do %>
          <div class="row form-group ">
            <div class="row"> <br/>
            </div>
            <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1 "></div>
            <div class="col-md-5 col-xs-5 col-sm-5 ">
                  <label class="control-label ">Başlangıç Tarihi:</label>
                  <%= text_field_tag(:start_date,"" ,class: 'form-control')%>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <div class="row">
                  <label class="control-label ">Bitiş Tarihi:</label>
                  <%= text_field_tag(:finish_date ,"" ,class: 'form-control')%>
              </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-xs-1 col-sm-1 "></div>
                <div class="col-md-9 col-xs-9 col-sm-9 ">
                  <div class="row">
                    <br/>
                      <label class="control-label ">Topluluklar:	&nbsp;&nbsp;	&nbsp;</label>
                      <%= select_tag "club_period_id", options_for_select(Club.all.collect { |club| [club.name, club.active_club_period.id] }), { :prompt => 'Seçiniz',:style=>"min-width:80%;"} %>
                  </div>

                </div>
            </div>
            <br/>
            <div class="row ">
              <div class="col-md-1 col-xs-1 col-sm-1 "></div>
              <div class="col-md-9 col-xs-9 col-sm-9 ">
                  <div class="row well">
              <label> Etkinlik Durumu: </label>
              <br/>
                <br/>
                <%= radio_button_tag(:state, "") %>
                  <%= label_tag(:state_all, "Onaylanan ve Bekleyen Etkinlikler") %>
                    <br/>
              <%= radio_button_tag(:state, "onay") %>
                <%= label_tag(:state_onay, "Sadece Onaylanan Etkinlikler") %>
                  <br/>
              <%= radio_button_tag(:state, "wait") %>
                <%= label_tag(:state_wait, "Sadece Bekleyen Etkinlikler") %>
            </div>
            </div>
              </div>
            <div class="row"> <br/>
              <div class="col-md-11 col-xs-11 col-sm-11 text-right ">
                <%= button_tag(type: "submit", class: "btn btn-default pull-right close_modal") do %>
                     <%=fa_icon("file-excel-o", text: "Excel dosyasını indir") %>
                <% end %>
             </div>
              <div class="col-md-1 col-xs-1 col-sm-1 "></div>
            </div>
          </div>
  <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">

$('#start_date').datepicker({
  language: 'tr'
});
$('#finish_date').datepicker({
  language: 'tr'
});

$('.close_modal').click(function() {
    $('.down_event').modal('hide');
});


</script>
